```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Test reports
reports/

# Environment
.env
.env.local
*.env.*

# Dependencies
venv/
.venv/
pip-log.txt
pipenv.lock

# Editors
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Coverage
.coverage
htmlcov/
coverage/

# Pytest
.pytest_cache/
```